
.dashboard-header {
  display: flex;
  justify-content: space-between;
}

.dashboard-prices {
  display: flex;
  justify-content: space-around;
}

.dashboard-price {
  flex: 1;
  max-width: 600px;
}

.dashboard-trades {
  width: 100%;
  text-transform: uppercase;
  text-align: center;
}

.dashboard-actions select {
  margin-right: 16px;
}

@media (min-width: 0) and (max-width: 992px) {
  .dashboard-prices {
    flex-direction: column;
    align-items: center;
  }
}
