
$primary-color: #F39C12;
$primary-color-contrast: #FFF;

$secondary-color: #222227;
$secondary-color-contrast: #FFF;

$tertiary-color: #222227;
$tertiary-color-contrast: #FFF;

$background-color: #16151A;
$background-color-contrast: #FFF;

$border-color: #222227;
$border-error-color: #842029;

$sizes: 0, .25, .5, 1, 1.5, 3;
$spacing: 1rem;
